body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

header, .navbar, footer {
  margin: 0;
  padding: 0;
}

.navbar, #Hero-Section, footer {
  background-color: #000 !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

#Hero-Section {
  padding-top: 100px;
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#Acerca-de-mi {
  width: 100%;
  padding: 60px 0;
  background-color: #000;
}

#Acerca-de-mi h2,
#Acerca-de-mi h3,
#Acerca-de-mi p,
#Acerca-de-mi i {
  color: #fff;
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#trabajo1 {
  background-image: url("../img/card-1.png");
}

#trabajo2 {
  background-image: url("../img/card-2.png");
}

#trabajo3 {
  background-image: url("../img/card-3.png");
}

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
